.container {
  padding: 1rem;
  
  mat-toolbar {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    background: transparent;
    padding: 0;
  }

  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
  }

  .mat-elevation-z8 {
    overflow-x: auto;
  }

  mat-paginator {
    margin-top: 1rem;
  }

  .mat-column-actions {
    width: 120px;
    text-align: center;
  }
}