visit-view-dialog.component.scss.notes-content {
  white-space: pre-wrap;
  word-break: break-word;
}

mat-card {
  max-width: 100%;
  margin: 0;
}

mat-list-item {
  height: auto !important;
  margin: 8px 0;
}

mat-divider {
  margin: 16px 0;
}